@import "tailwindcss";

html, body, #root {
	height: 100%;
}

body {
	background-image: url('/bg.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Force Tailwind text utilities to inherit the global color (makes most text white)
   This is intentional for a dark background; tweak if you want specific elements
   to keep their utility color. */
[class*="text-"] {
	color: inherit !important;
}