DB_URL=jdbc:postgresql://neondb_owner:npg_kyQwlW93xusv@ep-fancy-voice-ah0r98tl-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DB_USER=neondb_owner
DB_PASSWORD=npg_kyQwlW93xusv
JWT_SECRET=npg_kyQwlW93xusvkfwoenfow
FRONTEND_ORIGIN=http://localhost:5173
